{
	on_demand_tls {
		permission redis {
			address "localhost:6379"
			username "default"
			password ""
			prefix "identifier/"
		}
	}

	log {
		level debug
	}
}

:443 {
	tls {
		on_demand
	}

	reverse_proxy https://google.nl
}